@import './base.css';

#app {
  width:100%;
  margin: 0;
  padding: 0;
 border: 1px solid red;
  font-weight: normal;
  height:100%;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

 
